.promo {
  border-radius: 8px;
  background: $white;
  box-shadow: 0 10px 25px 0 rgba(133, 182, 184, 0.3);
  padding: 20px;
  .nav-tabs {
    border: none;
    margin-bottom: 15px;
    .nav-link {
      font-size: 17px;
      line-height: 18px;
      font-family: $font-exo-b;
      background: transparent;
      border-radius: 0;
      border: none;
      border-right: 1px solid rgba(72, 72, 72, .9);
      color: #222222;
      padding: 0 20px;
      &.active {
        color: #ff6000;
      }
    }
    .nav-item {
      &:first-child .nav-link {
        padding-left: 0;
      }
      &:last-child .nav-link {
        border-right: none;
      }
    }
    @include adapt_to('desktop') {
      flex-direction: column;
      .nav-link {
        padding: 5px 0;
        border-right: none;
      }
    }
  }
  &-content {
    &__top {
      display: flex;
      flex-flow: row wrap;
      margin-bottom: 45px;
      &--title {
        font-size: 16px;
        line-height: 22px;
        font-family: $font-exo-m;
        color: #222222;
        margin-right: 10px;
      }
      .button {
        border: none;
        background: transparent;
        font-size: 14px;
        line-height: 18px;
        font-family: $font-exo;
        color: #888888;
        margin: 0 4px;
        padding: 0;
        &.is-checked {
          text-decoration: underline;
          color: #4c70bb;
        }
        &:focus {
          outline: none;
        }
      }
    }
    .grid {
      display: flex;
      flex-flow: row wrap;
    }
    .element-item {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 45px;

      @include adapt_to('laptop-big') {
        flex-direction: column;
        &:nth-child(even) {
          .banner-info {
            margin-right: 0;
          }
        }
      }
      @include adapt_to('desktop') {
        width: 100%;
        flex-direction: column;
      }

      .banner {
        &-img {
          width: 140px;
          height: 215px;
          margin-right: 30px;
          flex: 1 0 auto;
          border-radius: 8px;
          background-color: rgb(255, 255, 255);
          box-shadow: 0 10px 20px 0 rgba(133, 182, 184, 0.25);
          background-size: cover;
          background-position: center left;
          @include adapt_to('desktop') {
            width: 100%;
            height: 140px;
            margin-right: 0;
            margin-bottom: 20px;
          }
        }
        &-info {
          display: flex;
          flex-direction: column;
          margin-right: 80px;
          @include adapt_to('desktop') {
            margin-right: 0;
          }
          &__code {
            background: rgb(247, 247, 247);
            border-radius: 9px;
            padding: 10px 15px;
            display: flex;
            align-items: center;
            &--copy {
              -webkit-mask-image: url('../img/svg/copy-ico.svg');
              width: 14px;
              height: 16px;
              background: #b3b3b3;
              -webkit-mask-size: 100% 100%;
              -webkit-mask-repeat: no-repeat;
              margin-right: 15px;
              flex: 1 0 auto;
              border: none;
              &:focus {
                outline: none;
              }
            }
            &--code {
              border-left: 1px solid rgb(201, 214, 216);
              font-size: 12px;
              line-height: normal;
              font-family: $font-exo;
              color: #888888;
              padding-left: 15px;
            }
          }
          .default-btn {
            margin-top: 40px;
            padding: 10px 54px;
          }
        }
      }
    }
    &__video {
      margin-right: 45px;
      margin-bottom: 20px;
      position: relative;
      width: 44%;
      max-width: 420px;
      @include adapt_to('desktop') {
        width: 100%;
        max-width: initial;
        margin-right: 0;
      }
      &--img {
        width: 100%;
        height: 245px;
        background-size: cover;
        background-position: center;
        box-shadow: 0 10px 20px 0 rgba(133, 182, 184, 0.25);
        border: 1px solid rgba(#dbe9eb, .5);
        border-radius: 12px;
        margin-bottom: 20px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &--play {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-image: -moz-linear-gradient(0deg, rgba(255, 96, 0, .6) 0%, rgba(147, 32, 125, .6) 100%);
        background-image: -webkit-linear-gradient(0deg, rgba(255, 96, 0, .6) 0%, rgba(147, 32, 125, .6) 100%);
        background-image: -ms-linear-gradient(0deg, rgba(255, 96, 0, .6) 0%, rgba(147, 32, 125, .6) 100%);
        box-shadow: 0 10px 20px 0 rgba(251, 93, 6, 0.4);
        width: 74px;
        height: 74px;
        &__btn {
          -webkit-mask-image: url('../img/svg/play-btn.svg');
          background: $white;
          width: 64px;
          height: 64px;
          border-radius: 50%;
          position: relative;
          z-index: 1;
        }
        &::before {
          content: '';
          border-radius: 50%;
          background-image: -moz-linear-gradient(0deg, rgb(255, 96, 0) 0%, rgb(147, 32, 125) 100%);
          background-image: -webkit-linear-gradient(0deg, rgb(255, 96, 0) 0%, rgb(147, 32, 125) 100%);
          background-image: -ms-linear-gradient(0deg, rgb(255, 96, 0) 0%, rgb(147, 32, 125) 100%);
          opacity: 0.051;
          box-shadow: 0 10px 20px 0 rgba(251, 93, 6, 0.4);
          width: 90px;
          height: 90px;
          position: absolute;
        }
        &::after {
          content: '';
          border-radius: 50%;
          background-image: -moz-linear-gradient(0deg, rgb(255, 96, 0) 0%, rgb(147, 32, 125) 100%);
          background-image: -webkit-linear-gradient(0deg, rgb(255, 96, 0) 0%, rgb(147, 32, 125) 100%);
          background-image: -ms-linear-gradient(0deg, rgb(255, 96, 0) 0%, rgb(147, 32, 125) 100%);
          opacity: 0.051;
          box-shadow: 0 10px 20px 0 rgba(251, 93, 6, 0.4);
          width: 82px;
          height: 82px;
          position: absolute;
        }
      }
      &__item {
        display: flex;
        flex-flow: row wrap;
        margin-top: 45px;
      }
      &--download {
        position: absolute;
        right: 65px;
        width: 54px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #222222;
        border-radius: 50%;
        cursor: pointer;
        &::after {
          content: '';
          width: 24px;
          height: 27px;
          background: $white;
          -webkit-mask-image: url('../img/svg/download-ico.svg');
          -webkit-mask-repeat: no-repeat;
          transform: rotate(-90deg);
        }
      }
      &--info {
        text-align: center;
        &__title {
          font-size: 14px;
          line-height: 18px;
          font-family: $font-exo-m;
          color: #333333;
        }
        &__description {
          font-size: 14px;
          line-height: normal;
          font-family: $font-exo;
          color: #888888;
        }
      }
    }
  }
}

.download-tooltip {
  font-size: 12px;
  line-height: 18px;
  font-family: $font-exo-l;
  color: #444444;
  background: $white;
  border-radius: 10px;
  padding: 0 5px;
  overflow: hidden;
}
.show-video__modal {
  width: initial;
  display: table;
  img {
    max-width: 100%;
    height: auto;
  }
}