extends ../extends/layout
block variables
  - var title = "Contact page";

block content
  .outer-indent
    include ../sections/contact-head
    include ../sections/contact-body

  include ../includes/modal