RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ /index.php?/$1 [L]
Options -Indexes 
RewriteRule  .  index.php

<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.invest\.biz [NC]
RewriteRule ^(.*)$ http://invest.biz/$1 [R=301,L]
</IfModule>