footer.footer
  .container
    .row
      .col-md-4.col
        .footer-logo
          img(src='/img/svg/logo-img.svg' alt='').logo-img
          +sprite('logo-text', 'logo-text')
        ul.footer__contact-info
          li
            span.phone
            |8 800 535-55-55
          li
            a(href="mailto:info@invest@gmail.com")
              span.mail
              | info@invest@gmail.com
        .copy &copy; 2019 invest. Все права защищены

      .col.d-flex.align-items-end
        ul.footer__menu
          li
            a(href='about.html') О Компании
          li
            a(href='#') Команда
          li
            a(href='#') Документация
          li
            a(href='#') Доходность
          li
            a(href='#') Преимущества
          li
            a(href='#') Почему мы?
          li
            a(href='#') Контакты
          li
            a(href='#') Вопрос/ответ
          li
            a(href='news-list.html') Новости
