nav.navbar.navbar-expand-lg.registration-header.fixed-top
  .container
    a.navbar-brand(href='#')
      img(src='./img/dark-logo.png').logo
    .navbar-toggler.collapsed(data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse')
      span
      span
      span
      span
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item.active
          a.nav-link(href='/') Главная
        li.nav-item
          a.nav-link(href='profitability.html') Доходность
        li.nav-item
          a.nav-link(href='about.html') О Компании
        li.nav-item
          a.nav-link(href='contacts.html') Контакты

      .header-top__items
        ul.header-top__social
          li
            a(href='#')
              span.vk
          li
            a(href='#')
              span.telegram
          li
            a(href='#')
              span.youtube
          li
            a(href='#')
              span.instagram

      .header-top__personal.ml-auto Личный кабинет

