.about-info#about-info
  .container
    .about-info__items
      .about-info__item.wow.animated.fadeInLeft
        .about-info__title
        .about-info__tagline Прозрачная сервис-площадка для заработка на спортивных событиях
        p invest Российская компания, которая занимается аналитической деятельностью в сфере спортивных состязаний и позволяет своим клиентам
          |извлекать высокий доход из букмекерского бизнеса. Перенимая лучшее, что было сделано до нас, учась на чужих ошибках, мы создаём самую безопасную
          |и надёжную систему инвестирования из всех когда-либо существовавших.
          span Опробовать сервис можно всего с 5$!
        a(href='#').default-btn Регистрация