.contact-head
  .container
    h2.contact-head__title Обращайтесь в службу поддержки invest
    h4.contact-head__tagline Наши специалисты на связи и днем и ночью
    img(src='/img/contact-img.png').contact-head__help-ico