.payments
  .payments__link
    a(href='#').payments__link-item.active Пополнить
    a(href='#').payments__link-item Cнять
  .payments-items
    .payments-item
      img(src='./img/payment-1.png')
    .payments-item
      img(src='./img/payment-2.png')
    .payments-item
      img(src='./img/payment-3.png')
    .payments-item
      img(src='./img/payment-4.png')
    .payments-item
      img(src='./img/payment-5.png')
    .payments-item
      img(src='./img/payment-6.png')
    .payments-item
      img(src='./img/payment-7.png')
    .payments-item
      img(src='./img/payment-8.png')