.main-section
  .container
    .main-section__item
      .main-section__item--title
      h4 Первый сервис по заработку
        span НА СПОРТИВНЫХ СОБЫТИЯХ
      a(href='#').main-section__item--btn Подробнее
      ul.main-section__item--list
        li
          a(href='#' data-toggle="tooltip" data-placement="right" data-html="true" title="<div class='main-section__item--list__tooltip'>Группа ВКонтакте</div>").icon
            .vk
        li
          a(href='#' data-toggle="tooltip" data-placement="right" data-html="true" title="<div class='main-section__item--list__tooltip'>Телеграм канал</div>").icon
            .telegram
        li
          a(href='#' data-toggle="tooltip" data-placement="right" data-html="true" title="<div class='main-section__item--list__tooltip'>Ютуб канал</div>").icon
            .youtube

include ../components/show-video