.growth
  .growth--title
    b Знакомьте с invest больше людей
    |  и получайте
    br
    |  ценные вознаграждения!
  .growth-steps
    .growth-steps-item.active
      .growth-steps-item--img
        img(src='./img/step-1.png')
      .growth-steps-item--info
        span Получи 25$
        .info 25$ и дополнительный кэшбэк 10% с приглашённых второго уровня
        .condition
          b Условие:
          |  Привлеченный оборот 5000$”
    .growth-steps-item.active
      .growth-steps-item--img
        img(src='./img/step-2.png')
      .growth-steps-item--info
        span Получи 200$
        .info 200$ и дополнительный кэшбэк 5%  с приглашённых третьего уровня
        .condition
          b Условие:
          |  Привлеченный оборот 1000$
    .growth-steps-item
      .growth-steps-item--img
        img(src='./img/step-3.png')
      .growth-steps-item--info
        span Получи 1000$
        .info 1000$ и дополнительный кэшбэк 1%  с приглашённых четвёртого уровня
        .condition
          b Условие:
          |  Привлеченный оборот 25 000$
    .growth-steps-item
      .growth-steps-item--img
        img(src='./img/step-4.png')
      .growth-steps-item--info
        span Получи MacBook и 2000$
        .condition
          b Условие:
          |  Привлеченный оборот 100 000$
    .growth-steps-item
      .growth-steps-item--img
        img(src='./img/step-5.png')
      .growth-steps-item--info
        span Открой франшизу
        .info Франшизу invest в своём городе  и дополнительно 10 000$
        .condition
          b Условие:
          |  Привлеченный оборот 300 000$

  .growth-turnover Сейчас у вас привлеченный оборот -
    .price 12 000
      .val $