.history-operations
  .invitations--title Мои операции
  .table-responsive.invitations--table
    table.table
      thead
        tr
          th(scope='col') Сумма
          th(scope='col') Операция
          th(scope='col') Время
          th(scope='col') ID
          th(scope='col') Заявка
      tbody
        tr
          td.value 100 000р.
          td Пополнение
          td Сегодня 13:45
          td 4243
          td.treatment Обработка
        tr
          td.value 100 000р.
          td Пополнение
          td Сегодня 13:45
          td 4243
          td.successfully Успешно
        tr
          td.value 100 000р.
          td Пополнение
          td Сегодня 13:45
          td 4243
          td.rejected Отклонено
        tr
          td.value 100 000р.
          td Пополнение
          td Сегодня 13:45
          td 4243
          td.treatment Обработка
        tr
          td.value 100 000р.
          td Пополнение
          td Сегодня 13:45
          td 4243
          td.treatment Обработка
        tr
          td.value 100 000р.
          td Пополнение
          td Сегодня 13:45
          td 4243
          td.treatment Обработка
        tr
          td.value 100 000р.
          td Пополнение
          td Сегодня 13:45
          td 4243
          td.treatment Обработка
        tr
          td.value 100 000р.
          td Пополнение
          td Сегодня 13:45
          td 4243
          td.treatment Обработка

  nav(aria-label='Page navigation example')
    ul.pagination
      li.page-item
        a.page-link(href='#') 1
      li.page-item.active
        a.page-link(href='#') 2
      li.page-item
        a.page-link(href='#') 3
      li.page-item
        a.page-link(href='#' aria-label='Next')
          +sprite("ico", "arrow")
