.personal-balance.cashback-balance
  .personal-balance__item
    .personal-balance__item--balance 467
      span $
    .personal-balance__item--title Мой баланс
    p Просто поделитесь этой ссылкой с друзьями или в социальных сетях и вы получите 25% от прибыли компании!”
    .personal-balance__copy-link
      .personal-balance__copy-link--title Пригласительная ссылка
      .personal-balance__copy-link--item
        .d-flex.mr-auto.align-items-center
          button(type='submit').icon-copy__item
            +sprite("icon-copy", "copy-ico")
          .form-control
            | https://
            span invest.com/6248751356
        ul.social-list
          li
            a(href='#').icon-vk.icon
              +sprite("ico", "vk-ico")
          li
            a(href='#').icon-facebook.icon
              +sprite("ico", "facebook-ico")
          li
            a(href='#').icon-twitter.icon
              +sprite("ico", "twitter-ico")
      .personal-balance__copy-link--code Пригласительный промо-код  -
        span E24L467
      p Регистрация по твоему промо-коду даёт
        span скидку 25% на услуги сервиса invest.
        | Спеши поделиться скидкой с друзьями!
  .personal-balance__example
    .personal-balance__example--title Рассмотрим кэшбэк на примере:
    p Вы пригласили своего друга Ивана. Он в течение месяца с invest заработал 2000$ и заплатил сервису 800$ за услуги.
      br
      br
      | Ваш доход таким образом составляет 25% от этой суммы, то есть 200$.
      br
      | А поскольку Иван каждый день получал прибыль, то и вам поступал кэшбэк ежедневно!
