.personal-history
  .personal-history__top
    h2.personal-history__top--title История управления
    .personal-history__top--select-date Выберите дату
    .personal-history__top--slider
      include ../components/data-slider
  .personal-history__item
    .slider-nav
      mixin table
        .management-history__table
          .table-responsive
            table.table
              thead
                tr
                  th(scope='col') Пн
                  th(scope='col') Вт
                  th(scope='col') Ср
                  th(scope='col') Чт
                  th(scope='col') Пт
                  th(scope='col').day-off Сб
                  th(scope='col').day-off Вс
              tbody
                tr
                  td.active
                    .table-item.plus
                      | +0,18%
                      span 31 дек
                  td
                    .table-item.plus
                      | +5,12%
                      span 1
                  td
                    .table-item.minus
                      | -0,22%
                      span 2
                  td
                    .table-item.plus
                      | +4,48%
                      span 3
                  td
                    .table-item.plus
                      | +1,12%
                      span 4
                  td
                    .table-item.minus
                      | -1,25%
                      span 5
                  td
                    .table-item.plus
                      | +7,12%
                      span 6

                tr
                  td
                    .table-item.plus
                      | +0,18%
                      span 31 дек
                  td
                    .table-item.plus
                      | +5,12%
                      span 1
                  td
                    .table-item.minus
                      | -0,22%
                      span 2
                  td
                    .table-item.plus
                      | +4,48%
                      span 3
                  td
                    .table-item.plus
                      | +1,12%
                      span 4
                  td
                    .table-item.minus
                      | -1,25%
                      span 5
                  td
                    .table-item.plus
                      | +7,12%
                      span 6

                tr
                  td
                    .table-item.plus
                      | +0,18%
                      span 31 дек
                  td
                    .table-item.plus
                      | +5,12%
                      span 1
                  td
                    .table-item.minus
                      | -0,22%
                      span 2
                  td
                    .table-item.plus
                      | +4,48%
                      span 3
                  td
                    .table-item.plus
                      | +1,12%
                      span 4
                  td
                    .table-item.minus
                      | -1,25%
                      span 5
                  td
                    .table-item.plus
                      | +7,12%
                      span 6

                tr
                  td
                    .table-item.plus
                      | +0,18%
                      span 31 дек
                  td
                    .table-item.plus
                      | +5,12%
                      span 1
                  td
                    .table-item.minus
                      | -0,22%
                      span 2
                  td
                    .table-item.plus
                      | +4,48%
                      span 3
                  td
                    .table-item.plus
                      | +1,12%
                      span 4
                  td
                    .table-item.minus
                      | -1,25%
                      span 5
                  td
                    .table-item.plus
                      | +7,12%
                      span 6

                tr
                  td
                    .table-item.plus
                      | +0,18%
                      span 31 дек
                  td
                    .table-item.plus
                      | +5,12%
                      span 1
                  td
                    .table-item.minus
                      | -0,22%
                      span 2
                  td
                    .table-item.plus
                      | +4,48%
                      span 3
                  td
                    .table-item.next-month
                      | +1,12%
                      span 4
                  td
                    .table-item.next-month
                      | -1,25%
                      span 5
                  td
                    .table-item.next-month
                      | +7,12%
                      span 6

      +table
      +table
      +table
      +table
      +table
      +table
      +table
      +table
      +table
      +table
      +table
      +table