.personal-balance
  .personal-balance__item
    .personal-balance__item--balance 467
      span $
    .personal-balance__item--title Мой баланс
    .d-flex
      a(href='#').personal-balance__item--btn.default-btn Пополнить
  .personal-balance__items
    .personal-balance__price
      .personal-balance__items--price 28
        span $
      .personal-balance__items--title Результат дня
    .personal-balance__price
      .personal-balance__items--price 16
        span $
      .personal-balance__items--title Используемая сумма
        .personal-balance--tooltip(data-toggle='tooltip' data-placement="bottom" data-html="true" title='<p>sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto</p>') ?
      a(href='#').view-rates Посмотреть ставки
    .personal-balance__price
      .personal-balance__items--price 12
        span $
      .personal-balance__items--title Мой профит
      a(href='#' data-toggle="modal" data-target="#dropBonus").view-rates Получить бонус
        span +7%
        .personal-balance--tooltip(data-toggle='tooltip' data-placement="bottom" data-html="true" title='<p>sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto</p>') ?

