.rates-table
  .table-responsive
    table.table
      thead
        tr
          th(scope='col') Событие
          th(scope='col') % от банка
          th(scope='col') Ставка
          th(scope='col') Коэффициент
          th(scope='col') Результат
          th(scope='col')
      tbody
        tr
          td Футбол. Астон Вилла - Ливерпуль
          td 2%
          td ТБ(3.5)
          td 3.17
          td
            .result.up
              .result-position
          td
            a(href='#').result-title
              .unlock-rates(data-toggle='tooltip' data-placement="bottom" title='Ставка опубликована абсолютно бесплатно!')
        tr
          td Футбол. Арсенал - Манчестер сити
          td 0.5%
          td Х1
          td 2.09
          td
            .result.up
              .result-position
          td
            a(href='#').result-title
              .lock-rates(data-toggle='tooltip' data-placement="bottom" title='Ставка доступна только для клиентов invest')
        tr
          td Футбол. Астон Вилла - Ливерпуль
          td 2%
          td ТБ(3.5)
          td 3.17
          td
            .result.equal
              .result-position
              a(href='#').result-title Бесплатно!
                  .personal-balance--tooltip(data-toggle='tooltip' data-placement="bottom" title='sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto') ?
        tr
          td Футбол. Астон Вилла - Ливерпуль
          td 2%
          td ТБ(3.5)
          td 3.17
          td
            .result.up
              .result-position
              a(href='#').result-title Бесплатно!
                .personal-balance--tooltip(data-toggle='tooltip' data-placement="bottom" title='sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto') ?
        tr
          td Футбол. Астон Вилла - Ливерпуль
          td 2%
          td ТБ(3.5)
          td 3.17
          td
            .result.up
              .result-position
              a(href='#').result-title Бесплатно!
                .personal-balance--tooltip(data-toggle='tooltip' data-placement="bottom" title='sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto') ?
        tr
          td Футбол. Арсенал - Манчестер сити
          td 0.5%
          td Х1
          td 2.09
          td
            .result.down
              .result-position
              a(href='#').result-title Бесплатно!
                .personal-balance--tooltip(data-toggle='tooltip' data-placement="bottom" title='sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto') ?
        tr
          td Футбол. Астон Вилла - Ливерпуль
          td 2%
          td ТБ(3.5)
          td 3.17
          td
            .result.equal
              .result-position
              a(href='#').result-title Бесплатно!
                .personal-balance--tooltip(data-toggle='tooltip' data-placement="bottom" title='sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto') ?
        tr
          td
            .notification
              span
            |Футбол. Астон Вилла - Ливерпуль
          td 2%
          td ТБ(3.5)
          td 3.17
          td
            .result.up
              .result-position
              a(href='#').result-title Бесплатно!
                .personal-balance--tooltip(data-toggle='tooltip' data-placement="bottom" title='sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto') ?
  .about-full-description__body
    blockquote
      p.blockquote Здесь представлены события, среди которых invest распределил клиентский капитал.