.registration
  .container
    .row
      .col.d-flex.align-items-center.flex-lg-row.flex-column
        img(src='/img/about-img.png' alt='').registration-img.wow.animated.fadeInLeft
        .registration-info.wow.animated.fadeInRight
          h4 Хотите узнать на какие события invest распределила деньги сегодня?
            br
            |Просто пройдите регистрацию!
          a(href='#').settings-account__btn Зарегистрироваться