.settings-social
  h4.settings-account__title Мои социальные сети
  form(action='#').settings-account__form
    .input-group
      .form-group.col-lg-4.px-0
        label VK
        input.form-control(type='text' placeholder="https://vk.com/xxxxxx")
        .input-group-append
          .vk.icons

      .form-group.col-lg-4.px-0
        label Facebook
        input.form-control(type='text' placeholder="https://facebook.com/xxxxxx")
        .input-group-append
          .facebook.icons

    .input-group
      .form-group.col-lg-4.px-0
        label Telegram
        input.form-control(type='text' placeholder="@xxxxxx")
        .input-group-append
          .telegram.icons

      .form-group.col-lg-4.px-0
        label Instagram
        input.form-control(type='text' placeholder="https://instagram.com/xxxxxx")
        .input-group-append
          .instagram.icons

    .input-group
      .info
        p Они отображены в клиентском чате. Чем больше вы будете писать в чате, тем чаще к вам будут обращаться
          |  потенциальные клиенты и регистрироваться как ваши приглашенные!

    .input-group
      button(type='submit').settings-account__btn Сохранить