.settings-password
  h4.settings-account__title Пароль для входа
  form(action='#').settings-account__form
    .input-group
      .form-group.col-lg-4.px-0
        label Старый
        input(type='password' placeholder='Введите старый пароль').form-control

    .input-group
      .form-group.col-lg-4.px-0
        label Новый
        input(type='password' placeholder='Введите новый пароль').form-control
    .input-group
      .form-group.col-lg-4.px-0
        label Подтвердите
        input(type='password' placeholder='Подтвердите новый пароль').form-control
    .input-group
      button(type='submit').settings-account__btn Обновить