.about-info-top
  .container
    .row
      .col-md-6.col-12
        .about-info-top__body.wow.animated.fadeInLeft
          h3 Компания invest
          p
            | Мир спорта - это огромная индустрия бизнеса, в обороте которой миллиарды долларов.
            | Но для того, чтобы извлекать хоть какую-то прибыль из этого бизнеса нужно быть дисциплинированным,
            | иметь аналитический склад ума и хладнокровно подходить разбору спортивных событий и новостей.
            | Звучит это проще, чем выходит на самом деле, так как в подавляющем большинстве игроки быстро вылетают,
            | потеряв не только деньги, но и драгоценное время
      .col-md-6.col-12
        .about-info-top__body.what-do.wow.animated.fadeInRight
          h3 Что же предлагает invest?
          p
            | Мы выявили, что важнейшим фактором, помимо аналитики, является грамотное управление капиталом и
            | оценка риска относительно предлагаемого коэффициента на событие. То есть, главное - не количество выигранных событий,
            | а высокий коэффициент окупаемости инвестиций (ROI - return on investment).
            | Другими словами реально принесенная прибыль в процентном соотношении от вложенных средств.
  .about-full-description.wow.animated.fadeInUp(data-wow-delay='1s')
    .about-full-description__top
      .container
        .row
          .col
            .about-full-description__title Как работает invest?
              .about-full-description__btn(data-toggle="modal" data-target="#show-video")
                .about-full-description__btn--circle
    .container
      .row
        .col
          .about-full-description__body
            p invest создал и внедрил уникальную систему по грамотному управлению капиталом на спортивных событиях.
              | Система работает следующим образом: Вы пополняете баланс и средства хранятся на вашем счету в invest. Специалисты команды invest берут только небольшую часть от этих средств, переводят их в БК, и распределяют сразу среди нескольких событий, делая это в различных
              | букмекерских компаниях и по выгодным коэффициентам. В итоге на каждое событие своя заранее определённая букмекерская компания и своя сумма относительно оцениваемого риска. Данный процесс полностью исключает эмоциональный фактор и даёт высокий показатель
              | окупаемости инвестиций, при низком соотношении риска. После поступления профита взятая сумма с вашего баланса возвращается к вам
              | обратно в личный кабинет invest, а профит делится с компанией в соотношении 60% на 40%. Где 40% от чистой прибыли - это гонорар компании, а 60% вы можете вывести на удобные реквизты. По такому алгоритму под управлением деньги работают 100 календарных дней.
            blockquote
              p.blockquote В конечном счёте вам остаётся лишь наблюдать за профессиональным
                br
                |подходом команды invest и снимать чистый профит!
