.cashback
  .container
    .row
      .col-md-7
        .cashback__item
          h2.wow.animated.fadeIn Кэшбэк прямо в личный кабинет
          .cashback-list
            .cashback-list__item.wow.animated.fadeIn(data-wow-delay='0.5s') Расскажи о invest друзьям и получай по 20% от дохода сервиса ежедневно!
            .cashback-list__item.wow.animated.fadeIn(data-wow-delay='1s') Тебя ждёт множество денежных бонусов и мегакрутых призов!
          .d-flex
            a(href='#').cashback__item-btn.wow.animated.fadeIn(data-wow-delay='1.5s') Получать кэшбэк
      .col-lg-5.col.wow.animated.fadeIn
        .d-flex.align-items-end.h-100
          .cashback__img
            img(src='./img/phone.png').img-fluid
            .cashback__cash
              span 20
                sup %
              | от дохода
              br
              | компании
