.slider.single-item.slider-for
  div
    .date-item Январь 2019
  div
    .date-item Февраль 2019
  div
    .date-item Март 2019
  div
    .date-item Апрель 2019
  div
    .date-item Май 2019
  div
    .date-item Июнь 2019
  div
    .date-item Июль 2019
  div
    .date-item Август 2019
  div
    .date-item Сентябрь 2019
  div
    .date-item Октябрь 2019
  div
    .date-item Ноябрь 2019
  div
    .date-item Декабрь 2019