.how-work
  .container
    h2 Как работает площадка invest?
    .section.section-cards
      .section-content
        .cards-wrapper
          ul
            li.card-01
              figure.card-container
                .bg
                span.card
                  .card-count 01
                  h4.card-title Пополняете личный кабинет от
                    span  20
                      sup $
                  .device-lockup
                    figure.image-hardware
            li.card-02
              figure.card-container
                .bg
                span.card
                  .card-count 02
                  h4.card-title Необходимая сумма распределяется среди выбранных событий в букмекерских компаниях
                  .device-lockup
                    figure.image-hardware
            li.card-03
              figure.card-container
                .bg
                span.card
                  .card-count 03
                  h4.card-title В 10-00 средства поступают обратно в Ваш личный кабинет вместе с прибылью. Откуда их можно снять в любой день!
                  .device-lockup
                    figure.image-hardware
