.team
  .container
    .row
      .col
        .team-title
          //.team-title__before.wow.delay-1s.animated.pulse
          .team-title__typing.wow.delay-3s Наша команда - наш самый ценный актив
          //.team-title__after.wow.delay-1s.animated.pulse

        .team-body.slider
          .team-item.wow.animated.rotateIn
            .team-item__top
              img(src='./img/team-1.png').team-item__avatar
              .team-item__info
                .team-item__name Эдуард Суровый
                .team-item__position Теннис - аналитик
                .team-item__description В маркетах ничего оригинального: чистые победы, двойные шансы, индивидуальные и общие тоталы и форы. Но такое углубление росписи само по себе уникально.

          .team-item.wow.animated.rotateIn(data-wow-delay='0.5s')
            .team-item__top
              img(src='./img/team-2.png').team-item__avatar
              .team-item__info
                .team-item__name Эдуард Суровый
                .team-item__position Теннис - аналитик
                .team-item__description В маркетах ничего оригинального: чистые победы, двойные шансы, индивидуальные и общие тоталы и форы.

          .team-item.wow.animated.rotateIn(data-wow-delay='1s')
            .team-item__top
              img(src='./img/team-3.png').team-item__avatar
              .team-item__info
                .team-item__name Эдуард Суровый
                .team-item__position Теннис - аналитик
                .team-item__description В маркетах ничего оригинального: чистые победы, двойные шансы, индивидуальные и общие тоталы и форы. Но такое углубление росписи само по себе уникально. Тут и там что там кто здесь почему.

          .team-item.wow.animated.rotateIn(data-wow-delay='1.5s')
            .team-item__top
              img(src='./img/team-4.png').team-item__avatar
              .team-item__info
                .team-item__name Эдуард Суровый
                .team-item__position Теннис - аналитик
                .team-item__description В маркетах ничего оригинального: чистые победы, двойные шансы, индивидуальные и общие тоталы и форы. Но такое углубление росписи само по себе уникально.

          .team-item.wow.animated.rotateIn(data-wow-delay='2s')
            .team-item__top
              img(src='./img/team-5.png').team-item__avatar
              .team-item__info
                .team-item__name Эдуард Суровый
                .team-item__position Теннис - аналитик
                .team-item__description В маркетах ничего оригинального: чистые победы, двойные шансы, индивидуальные и общие тоталы и форы. Но такое угл. оборот.

